@keyframes waves {
    from {
        d: path("M951 377c-124.4 19.2-144.3 134.4-269 182-67.3 25.7-172.2 34.3-334-47-30.7-14.3-100.4-41.7-189-31-11.7 1.4-161.4 22.1-248 156-10.2 15.8-97.4 154.5-40 253 21.8 37.3 57.4 54.1 76.2 64.7C63.6 1020.1 235.8 985.3 720 997c598 14.5 708.3 40.3 811-60 175.6-171.4 207.6-508.8 56-728-27.5-39.7-96.8-152.5-165-141-105.7 17.9-85.7 311.6-229 357-85 26.9-125.1-66-242-48z");
    }

    to {
        d: path('M952 461c-179.3 40.3-178.6 90.2-297 98-115.7 7.7-124.7-39.4-307-47-51.4-2.1-116.7-4.4-199 13-92.4 19.6-178.2 37.8-238 112-54.6 67.7-83.8 177.9-40 253 21.8 37.3 57.4 54.1 76.2 64.7C63.6 1020.1 235.8 985.3 720 997c598 14.5 708.3 40.3 811-60 175.6-171.4 207.6-508.8 56-728-27.5-39.7-96.8-152.5-165-141-97 16.4-66.9 266.5-229 357-66.5 37.1-79.9-.2-241 36z');
    }
}

@keyframes waves2 {
    from {
        d: path('M-3 514c60.7-15.8 91.1 52.7 179 75 85.8 21.7 98.3-33 215-19 80.5 9.6 90.8 37.6 166.1 36.6 15.2-.2 20-1.9 41.7-4.4C750.1 584.7 792.7 615.4 857 586c46.5-21.3 28.5-39.3 96-92 92.6-72.2 134.4-44.4 190-94 87.1-77.7 19.4-183.7 112-293 18.7-22 91.6-108.1 168-101 203.5 18.8 421.3 691 191 931-115 119.8-236.8 23.5-852 33-496.3 7.6-713.1 78.5-813-60-61.7-85.6-87.1-262.5-8-354 10-11.6 26.8-34.4 56-42z');
    }

    to {
        d: path('M-3,514c69.4-9.3,94.5,122.6,187,141c83.4,16.6,113.1-80.7,233-76 c69.8, 2.8, 84.1, 40.7, 142, 30c68.6-12.6, 68.5-67.5, 139-101c96.3-45.7, 153.4, 29.4, 269-5c83.7-24.9, 134.1-88.3, 160-121 c99.3-125, 58.6-231, 143-285c78.1-50, 181.3-14.4, 188-12c247.8, 89.3, 364.2, 647.9, 156, 852c-7.1, 7-20.7, 23.6-51.4, 39.2 c-108.7, 55.2-273.7-14.3-800.6-6.2c-496.3, 7.6-713.1, 78.5-813-60c-61.7-85.6-87.1-262.5-8-354C-46.3, 541.3-30, 517.6-3, 514z');
    }
}

@keyframes waves3 {
    from {
        d: path('M-21 671c39.1-32.5 92.5 5.3 204 21 183.5 25.8 212-52.5 429-55 208-2.4 276.6 68.5 339 13 77-68.5 1.5-202.4 93-286 63.5-58 121.3-13.2 184-68 103.7-90.7 0-278.4 92-340 91.1-60.9 250.7-10 343 72 207.1 184.1 190.6 627.7-24 832-70.8 67.4-143 89.6-589 129-876.8 77.5-1004.1 18.6-1061-69-52-80-59.8-207.5-10-249z');
    }

    to {
        d: path('M-21 671c41.4-30.2 93.3 30.9 204 43 174.6 19.1 210.6-114.5 408-126 167.6-9.8 226 81.7 325 27 57.7-31.8 47-67.9 149-175 95.7-100.4 129.4-84 163-144 68-121.5-36.6-230.3 18-304 61-82.3 284.7-72.3 417 36 223 182.6 179.4 638.4-24 832-70.8 67.4-143 89.6-589 129-876.8 77.5-1004.1 18.6-1061-69-54.2-83.4-58.1-213.9-10-249z');
    }
}

.waving-1 {
    animation: waves 15s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96) alternate;
}

.waving-2 {
    animation: waves2 15s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96) alternate;
}

.waving-3 {
    animation: waves3 15s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96) alternate;
}

@keyframes floating {
    from {
        transform: translateY(0px) scale(1) rotate(0deg);
    }

    to {
        transform: translateY(-26px) scale(1.05) rotate(20deg);
    }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform, z-index;
  transition-timing-function: ease-in-out;

}

.fade-enter,
.fade-leave-active {
  z-index: 2;
  opacity: 0;
}

.fade-scale-enter-active,
.fade-scale-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform, z-index;
  transition-timing-function: ease-in-out;

}

.fade-scale-enter,
.fade-scale-leave-active {
  z-index: 2;
  opacity: 0;
  transform: scale(1.1);
}
