.label {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 0.8em;
    border-radius: 50em;

    margin: 0 4px;

    color: white;
    background: lighten($colors-bg-primary, 10%);

    &_red {
        color: $colors-bg-primary;
        background: #fb3b3b;
    }

    &_orange {
        color: $colors-bg-primary;
        background: rgb(252, 219, 31);
    }

    &_green {
        color: $colors-bg-primary;
        background: #69db2b;
    }

    &_large {
        padding: 8px 24px;
        font-size: 0.9em;
        margin: 6px;
    } 

}
