.navbar {

    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;

    font-weight: 400;
    font-size: 0.9em;

    user-select: none;
    z-index: 5;
    padding: 30px;

    .navbar__items,
    .navbar__title {

        a {
            position: relative;
            color: rgba(255, 255, 255, 0.7);
            transition: all 0.2s ease;

            font-weight: 600;

            &:hover,
            &.router-link-exact-active {
                color: white;
                text-decoration: none;
            }

        }

    }

        .navbar__items {
            margin-left: auto;
            a {
                margin: 10px 0 10px 5em;
                i {
                    margin-right: 0.3em;
                }
            }
            
        }

        .navbar__title {
            a {
                font-weight: bold;
            }
        }
}
