.button {

      display: inline-block;
      font-size: 16px;
      text-decoration: none;
      padding: 0.9rem 4em;
      position: relative;
      font-weight: bold; 
      user-select: none;
      text-align: center;

      transition: all 150ms cubic-bezier(0.09, 0.1, 0.35, 0.96);

}

@mixin button-colored($color) {

    background: $color;
    @if lightness($color) <= 50 {
      color: white;
    } @else {
      color: black;
    }
    
    box-shadow: 0 0px 0px 0 transparentize($color, 0.6);

    &:hover {
      background: lighten($color, 5%);
      box-shadow: 0 2px 34px -2px lighten(transparentize($color, 0.5), 5%);
    }

    &:active {
      background: darken($color, 5%);
      box-shadow: 0 2px 34px -2px transparent;
    }

}

button, .button {
  @include button-colored($colors-items-primary);

  &_black {
    @include button-colored($colors-bg-primary);
  }
}
