button, .button {

      display: inline-block;
      font-size: 14px;
      text-decoration: none;
      padding: 1.2em 5em;
      position: relative;
      border-radius: 50em;
      font-weight: bold;
      user-select: none;

      background: var(--c-btn-bg);
      color: var(--c-btn-text);
      box-shadow: 0 0 0 0 var(--c-btn-shadow);
      transition: all 0.3s cubic-bezier(0.09, 0.1, 0.35, 0.96);

      &:hover {
        background: var(--c-btn-bg-hover);
        box-shadow: 0 0 22px 4px var(--c-btn-shadow);
      }

      &:active {
        background: var(--c-btn-bg-active);
        box-shadow: 0 0 0 0 var(--c-btn-shadow);
      }

}
