/**
 * 
 *  Voknehzyr Website Theme
 * 
 */

$colors-items-primary: #FF2E46;
$colors-items-secondary: rgb(250, 250, 250);
$colors-bg-primary: hsl(0, 0, 4%);
$colors-bg-secondary: rgb(26, 24, 27);

* {

    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    scroll-behavior: smooth;
    background-color: $colors-bg-primary;
    color: $colors-items-secondary;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} 

a {
    text-decoration: none;
}

a:not(.button):not(.label) {
    color: $colors-items-primary;
    transition: all 0.1s ease-in;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

span.text-highlight {
    font-weight: 700;
    color: $colors-items-primary;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
}

.page-header {

    margin: 2em auto;
    max-width: 600px;

    h1 {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--c-text);
        text-align: center;
    }

    p {
        font-size: 1em;
        color: var(--c-text);
    }

}

.divider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.footer {
    margin: 6em auto;
    max-width: 1200px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    font-size: 0.9em;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-thumb {
    background-color: lighten($colors-bg-primary, 15%);
    border: 4px solid $colors-bg-primary;
    &:hover {
        background-color: $colors-items-primary;
    }
}

/* <Animations> */
@import "./components/animation.scss";
/* </Animations> */

/* <Grid> */
@import "./components/grid.scss";
/* </Grid> */

/* <Navbar> */
@import "./components/navbar.scss";
/* </Navbar> */

/* <Containers> */
@import "./components/container.scss";
/* </Containers> */

/* <Buttons> */
@import "./components/button.scss";
/* </Buttons> */

/* <Labels> */
@import "./components/label.scss";
/* </Labels> */

/* <Responsive> */
@import "responsive.scss";
/* </Responsive> */
