@media screen and (max-width: 720px) {

    .container_intro div.intro__content {
            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 0.6em;
            }

            .intro-buttons {

                display: flex;
                flex-flow: column;
        
                .button {
                    margin-top: 0.5em;
                    margin-right: 0;
                }
            }
    }

    .container__details--heading {
        font-size: 2.5em;
        margin: 1.5em 0;
    }

    .container_projects .projects__content .project-card {
        flex-flow: column;
        height: auto;
        padding: 25px;

        &__brand {
            margin-right: 0;
            margin-bottom: 3em;

            img {
                max-width: initial;
                max-height: 160px;
            }

        }
    }

    .button {
        padding: 0.9rem 2em;
    }

    .on-tablet {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    .on-phone {
        display: none;
    }
}
